@{
    ViewData["Title"] = "Photo";
}
@using C__website.Models
@model Size

<html>
<head>
    @* <style>
        body {
        background-color: beige;
        }

        .grid {
        display: grid;
        gap: 1px;
        /* gap: 10px; */
        grid-template-columns: repeat(@Model.width * 3, 0fr);
        grid-template-rows: repeat(@Model.height * 3, 0fr);
        width: @Model.width * 33 - 1px;
        height: @Model.height * 33 - 1px;
        margin: 0 auto;
        position: relative;
        }

        /* .cube {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 0fr);
        grid-template-rows: repeat(3, 0fr);
        white border
        border: 1px solid #fff;
        } */

        .square {
        width: 10px;
        height: 10px;
        background-color: white;
        }
    </style> *@
    <title>Rubik's Cube</title>
    <link rel="stylesheet" type="text/css" href="~/frontend/css/cube.css" />
    <script src="~/frontend/js/cube.js"></script>
    <script>
        window.onload = function() {
            setSize(@Model.width, @Model.height);
        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body>
    <div class="grid" id="grid">
        @* @for(int i = 0; i < Model.width * Model.height * 9; i++){
            <div class="square" id="square_' + i + '"></div>
        } *@
    </div>
    @* <div id="randomColors">
        <button type="submit" onclick="randomColors()">Randomize Colors</button>
    </div> *@
    <div id="download">
        <label>Name of file: </label>
        <input type="text" name="name" id="filename">
        <button type="submit" onclick="downloadImage()">Download Image</button>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetCube">
        

        <label>Enter cube number</label>
        <input type="text" name="cubeX">
        <input type="text" name="cubeY">
        
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit"  value="Upload" />
            </div>
        </div>
    </form>
</body>
</html>


